<section class="services">
    <div class="container">
        <h2 class="services__title h2">наши услуги</h2>
        <div class="services__cards">
            <div class="services__card">
                <div class="services__img-wrap">
                    <img src="./img/main/service-1.png" alt="" class="services__img">
                </div>
                <div class="services__text">Диагностика и
                    ремонт ходовой</div>
            </div>
            <div class="services__card">
                <div class="services__img-wrap">
                    <img src="./img/main/service-2.png" alt="" class="services__img">
                </div>
                <div class="services__text">Ремонт и профилактика тормозной системы</div>
            </div>
            <div class="services__card">
                <div class="services__img-wrap">
                    <img src="./img/main/service-3.png" alt="" class="services__img">
                </div>
                <div class="services__text">Полное техническое обслуживание авто</div>
            </div>
            <div class="services__card">
                <div class="services__img-wrap">
                    <img src="./img/main/service-4.png" alt="" class="services__img">
                </div>
                <div class="services__text">Ремонт и диагностика
                    двигателя</div>
            </div>
            <div class="services__card">
                <div class="services__img-wrap">
                    <img src="./img/main/service-5.png" alt="" class="services__img">
                </div>
                <div class="services__text">Шиномонтаж</div>
            </div>
            <div class="services__card">
                <div class="services__img-wrap">
                    <img src="./img/main/service-6.png" alt="" class="services__img">
                </div>
                <div class="services__text">Запчасти и масла</div>
            </div>
        </div>
    </div>
</section>