.services {
  margin-top: 89px;

  @media (max-width: 650px) {
    margin-top: 50px;
  }

  &__title {
    margin-bottom: 74px;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    @media (max-width: 1000px) {
      gap: 15px;
    }
  }

  &__card {
    background: $gray;
    background-position: 50% 50%;
    background-size: 0% 0%;
    padding: 25px;
    flex: 0 1 calc(33.3333% - 14px);
    display: flex;
    flex-direction: column;
    transition: 0.2s;

    @media (max-width: 1000px) {
      flex: 0 1 calc(50% - 7.5px);
    }
    @media (max-width: 650px) {
      flex: 0 1 100%;
    }

    &:hover {
      background: radial-gradient(
        50% 50% at 50% 50%,
        rgba(14, 15, 40, 0.5) 0%,
        rgba(14, 15, 40, 0.3) 0.01%,
        rgba(14, 15, 40, 0.6) 100%
      );

      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 100% 100%;

      .services__text {
        color: $white;
      }
    }
  }

  &__img-wrap {
    margin-bottom: 14px;
  }

  &__img {
    max-width: 100%;
  }

  &__text {
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    align-items: flex-end;
    color: $black;
    max-width: 300px;
    margin-top: auto;
    transition: 0.2s;

    @media (max-width: 650px) {
      font-size: 14px;
    }
  }
}

// services-page=====================================
.services-page {
  margin-top: 60px;

  .services__cards {
    gap: 25px 20px;
  }
}
