<section class="price">
    <div class="container">
        <h2 class="price__title h2">
            Состав работ по техническому обслуживанию:
        </h2>
        <div class="price__table">
            <ul class="price__list">
                <li class="price__list-box">
                    <p class="price__list-item price__list-item--1">Замена расходных материалов и жидкостей
                    </p>
                    <p class="price__list-item price__list-item--2">от 0000₽</p>
                </li>
                <li class="price__list-box">
                    <p class="price__list-item price__list-item--1">Замена свечей зажигания</p>
                    <p class="price__list-item price__list-item--2">от 0000₽</p>
                </li>
                <li class="price__list-box">
                    <p class="price__list-item price__list-item--1">Замена тормозной жидкости</p>
                    <p class="price__list-item price__list-item--2">от 0000₽</p>
                </li>
                <li class="price__list-box">
                    <p class="price__list-item price__list-item--1">Замена воздушного фильтра двигателя</p>
                    <p class="price__list-item price__list-item--2">от 0000₽</p>
                </li>
                <li class="price__list-box">
                    <p class="price__list-item price__list-item--1">Замена расходных материалов
                        и жидкостей</p>
                    <p class="price__list-item price__list-item--2">от 0000₽</p>
                </li>
                <li class="price__list-box">
                    <p class="price__list-item price__list-item--1">Замена свечей зажигания</p>
                    <p class="price__list-item price__list-item--2">от 0000₽</p>
                </li>
                <li class="price__list-box">
                    <p class="price__list-item price__list-item--1">Замена тормозной жидкости</p>
                    <p class="price__list-item price__list-item--2">от 0000₽</p>
                </li>
                <li class="price__list-box">
                    <p class="price__list-item price__list-item--1">Замена воздушного фильтра двигателя</p>
                    <p class="price__list-item price__list-item--2">от 0000₽</p>
                </li>
                <li class="price__list-box">
                    <p class="price__list-item price__list-item--1">Замена масла в двигателе, включая замену фильтра
                        (без защиты картера)</p>
                    <p class="price__list-item price__list-item--2">от 0000₽</p>
                </li>
                <li class="price__list-box">
                    <p class="price__list-item price__list-item--1">Замена охлаждающей жидкости (антифриза)</p>
                    <p class="price__list-item price__list-item--2">от 0000₽</p>
                </li>
                <li class="price__list-box">
                    <p class="price__list-item price__list-item--1">Замена ремня ГРМ</p>
                    <p class="price__list-item price__list-item--2">от 0000₽</p>
                </li>
                <li class="price__list-box">
                    <p class="price__list-item price__list-item--1">Замена салонного фильтра</p>
                    <p class="price__list-item price__list-item--2">от 0000₽</p>
                </li>
                <li class="price__list-box">
                    <p class="price__list-item price__list-item--1">Замена масла в двигателе, включая замену фильтра
                        (без защиты картера)</p>
                    <p class="price__list-item price__list-item--2">от 0000₽</p>
                </li>
                <li class="price__list-box">
                    <p class="price__list-item price__list-item--1">Замена охлаждающей жидкости (антифриза)</p>
                    <p class="price__list-item price__list-item--2">от 0000₽</p>
                </li>
                <li class="price__list-box">
                    <p class="price__list-item price__list-item--1">Замена ремня ГРМ</p>
                    <p class="price__list-item price__list-item--2">от 0000₽</p>
                </li>
                <li class="price__list-box">
                    <p class="price__list-item price__list-item--1">Замена салонного фильтра</p>
                    <p class="price__list-item price__list-item--2">от 0000₽</p>
                </li>

            </ul>
        </div>
    </div>
</section>