<section class="advantage @@if(context.technicalService){@@technicalService}">
    <div class="container">
        <h2 class="advantage__title h2 h2-center">Преимущества сервиса</h2>
        <div class="advantage__box">
            <div class="advantage__card">
                <div class="advantage__img-wrap">
                    <img src="./img/main/advantage-1.svg" alt="Иконка" class="advantage__img">
                </div>
                <h4 class="advantage__card-title">Любой вид ремонта</h4>
                <p class="advantage__card-text">Профессионализм сотрудников и необходимое оборудование позволяют нам
                    производить любые виды ремонта</p>
            </div>
            <div class="advantage__card">
                <div class="advantage__img-wrap">
                    <img src="./img/main/advantage-2.svg" alt="Иконка" class="advantage__img">
                </div>
                <h4 class="advantage__card-title">Опытные профессионалы</h4>
                <p class="advantage__card-text">Мы можем диагностировать и устранить любую неисправность вашего
                    автомобиля от колеса до поршня</p>
            </div>
            <div class="advantage__card">
                <div class="advantage__img-wrap">
                    <img src="./img/main/advantage-3.svg" alt="Иконка" class="advantage__img">
                </div>
                <h4 class="advantage__card-title">экспресс Шиномонтаж</h4>
                <p class="advantage__card-text">Наш шиномонтаж занимает 30 минут.
                    И даже в высокий сезон</p>
            </div>
            <div class="advantage__card">
                <div class="advantage__img-wrap">
                    <img src="./img/main/advantage-4.svg" alt="Иконка" class="advantage__img">
                </div>
                <h4 class="advantage__card-title">Ремонт
                    за один день</h4>
                <p class="advantage__card-text">В большинстве случаев ремонт
                    занимает не более одного дня</p>
            </div>
            <div class="advantage__card">
                <div class="advantage__img-wrap">
                    <img src="./img/main/advantage-5.svg" alt="Иконка" class="advantage__img">
                </div>
                <h4 class="advantage__card-title">Дешевле дилера</h4>
                <p class="advantage__card-text">Точная цена известна
                    до начала работ</p>
            </div>
            <div class="advantage__card">
                <div class="advantage__img-wrap">
                    <img src="./img/main/advantage-6.svg" alt="Иконка" class="advantage__img">
                </div>
                <h4 class="advantage__card-title">Собственный
                    склад</h4>
                <p class="advantage__card-text">Оригинальные
                    запчасти и аналоги</p>
            </div>
        </div>
    </div>
</section>