<div class="useful-cards">
    <div class="useful-cards__card">
        <img src="./img/main/useful-cards-1.jpg" alt="Полезная онформация" class="useful-cards__img">
        <div class="useful-cards__label">
            <div class="useful-cards__label-date">23 ноября 2021</div> |
            <div class="useful-cards__label-name">Алексей Колыванов</div>
        </div>
        <p class="useful-cards__text">Всё про ремень безопасности автомобиля</p>
        <a href="#" class="useful-cards__detailed">Подробнее</a>
    </div>
    <div class="useful-cards__card">
        <img src="./img/main/useful-cards-2.jpg" alt="Полезная онформация" class="useful-cards__img">
        <div class="useful-cards__label">
            <div class="useful-cards__label-date">23 ноября 2021</div> |
            <div class="useful-cards__label-name">Алексей Колыванов</div>
        </div>
        <p class="useful-cards__text">Можно ли смешивать моторные масла?</p>
        <a href="#" class="useful-cards__detailed">Подробнее</a>
    </div>
    <div class="useful-cards__card">
        <img src="./img/main/useful-cards-3.jpg" alt="Полезная онформация" class="useful-cards__img">
        <div class="useful-cards__label">
            <div class="useful-cards__label-date">23 ноября 2021</div> |
            <div class="useful-cards__label-name">Алексей Колыванов</div>
        </div>
        <p class="useful-cards__text">Устройство и работа тормозной системы</p>
        <a href="#" class="useful-cards__detailed">Подробнее</a>
    </div>
</div>