<form action="#" class="form">
    <label class="form__label">
        Желаемая дата приезда в сервис:
        <img src="./img/popup/calendar.svg" alt="" class="form__icon">
        <input type="text" class="form__input input-calendar" placeholder="17.06.2022 16:00">
    </label>
    <label class="form__label">
        Ваш номер телефона:
        <img src="./img/popup/phone.svg" alt="" class="form__icon">
        <input type="tel" class="form__input" placeholder="+7(919)381 31 31">
    </label>
    <input type="checkbox" class="form__checkbox" id="form__checkbox" checked required>
    <label for="form__checkbox" class="form__label-checkbox">
        Нажимая кн. “Записаться” вы соглашаетесь с нашей <a href="#">политикой конфиденциальности</a>
    </label>
    <button class="form__btn btn">записаться</button>
</form>