<div class="firstscreen">
    <div class="container">
        <div class="firstscreen__inner">
            <div class="firstscreen__info">
                <h1 class="firstscreen__title h2">наши услуги</h1>
                <p class="firstscreen__text">Автотехцентр «Гараж 113» специализируется на обслуживании и
                    ремонте
                    автомобилей японских и корейских брендов в Москве и Московской области.
                    <span>Профессионально и
                        по
                        выгодной цене выполняем слесарные работы любой сложности.</span>
                </p>
            </div>
            <div class="firstscreen__img-wrap">
                <img src="./img/services/services-page-bg.png" alt="Сервис" class="firstscreen__img">
            </div>
        </div>
    </div>
</div>