<section class="advice">
    <div class="container">
        <h2 class="advice__title">Воспользуйтесь
            <span>бесплатной</span>
            консультацией
        </h2>
        <p class="advice__text">Мастера-консультанты нашей компании с радостью ответят на ваши вопросы, произведут
            расчет стоимости услуг и подготовят индивидуальное предложение.</p>
        <button class="advice__btn btn">оставить заявку</button>
    </div>
    <img src="./img/services/advice-1.png" alt="Фоновое изображение" class="advice__img advice__img--left">
    <img src="./img/services/advice-2.png" alt="Фоновое изображение" class="advice__img advice__img--top">
    <img src="./img/services/advice-3.png" alt="Фоновое изображение" class="advice__img advice__img--bottom">
</section>