.partners {
  display: flex;
  justify-content: space-between;
  gap: 20px;

  @media (max-width: 800px) {
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    @media (max-width: 800px) {
      flex: 1 1 15%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    svg {
      max-width: 100%;
    }
  }
}
