.hero {
  padding-top: 90px;

  @media (max-width: 1000px) {
    padding-top: 49px;
  }

  &__slider {
  }

  &__slider-wrapper {
  }

  //   &__slider-slide {
  //   }

  &__slider-slide--1 {
    background: url(../img/main/hero-bg-1.svg) center top 35px,
      linear-gradient(180deg, rgba(217, 217, 217, 0.2) 0%, $gray 100%);

    @media (max-width: 1200px) {
      background: url(../img/main/hero-bg-1.svg) no-repeat center top 35px / 50%,
        linear-gradient(180deg, rgba(217, 217, 217, 0.2) 0%, $gray 100%);
    }
  }
  &__slider-slide--2 {
    background: url(../img/main/hero-bg-2.svg) center top 35px,
      linear-gradient(180deg, rgba(217, 217, 217, 0.2) 0%, $gray 100%);

    @media (max-width: 1200px) {
      background: url(../img/main/hero-bg-2.svg) no-repeat center top 35px / 50%,
        linear-gradient(180deg, rgba(217, 217, 217, 0.2) 0%, $gray 100%);
    }
  }
  &__slider-slide--3 {
    background: url(../img/main/hero-bg-1.svg) center top 35px,
      linear-gradient(180deg, rgba(217, 217, 217, 0.2) 0%, $gray 100%);

    @media (max-width: 1200px) {
      background: url(../img/main/hero-bg-1.svg) no-repeat center top 35px / 50%,
        linear-gradient(180deg, rgba(217, 217, 217, 0.2) 0%, $gray 100%);
    }
  }
  &__slider-slide--4 {
    background: url(../img/main/hero-bg-1.svg) center top 35px,
      linear-gradient(180deg, rgba(217, 217, 217, 0.2) 0%, $gray 100%);

    @media (max-width: 1200px) {
      background: url(../img/main/hero-bg-1.svg) no-repeat center top 35px / 50%,
        linear-gradient(180deg, rgba(217, 217, 217, 0.2) 0%, $gray 100%);
    }
  }
  &__slider-slide--5 {
    background: url(../img/main/hero-bg-2.svg) center top 35px,
      linear-gradient(180deg, rgba(217, 217, 217, 0.2) 0%, $gray 100%);

    @media (max-width: 1200px) {
      background: url(../img/main/hero-bg-2.svg) no-repeat center top 35px / 50%,
        linear-gradient(180deg, rgba(217, 217, 217, 0.2) 0%, $gray 100%);
    }
  }

  &__slider-slide {
    background-repeat: no-repeat;
    // background-position: center top;
  }

  &__slider-inner {
    display: flex;
    padding: 64px 0 101px 0;

    @media (max-width: 600px) {
      flex-direction: column;
      padding: 100px 0 101px 0;
    }
  }

  &__col {
  }

  &__col--1 {
    display: flex;
    align-items: center;
    // flex: 0 1 58.5%;
  }

  &__img {
    max-width: 100%;
    width: 100%;
  }

  &__col--2 {
    flex: 0 1 41.5%;
    padding-left: 55px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @media (max-width: 1100px) {
      padding-left: 0;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 150%;
    text-align: right;
    text-transform: uppercase;
    color: $black;

    @media (max-width: 1100px) {
      font-size: 34px;
    }
    @media (max-width: 800px) {
      font-size: 28px;
    }
  }

  &__subtitle {
    font-weight: 400;
    font-size: 48px;
    line-height: 150%;
    text-align: right;
    text-transform: uppercase;
    color: $black;
    margin-bottom: 20px;

    @media (max-width: 1100px) {
      font-size: 34px;
    }
    @media (max-width: 800px) {
      font-size: 28px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: right;
    color: $black;
    margin-bottom: 26px;

    @media (max-width: 1100px) {
      font-size: 16px;
    }
    @media (max-width: 800px) {
      font-size: 14px;
    }
  }

  &__btn {
  }

  .container {
    position: relative;
  }

  .hero-slider-control {
    position: absolute;
    left: 14px;
    bottom: 50px;
    width: 124px;
    height: 29px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
  }

  .swiper-button-next2 {
    cursor: pointer;
  }
  .swiper-button-prev2 {
    cursor: pointer;
  }
  //   .swiper-button-next2::after,
  //   .swiper-button-prev2::after {
  //     display: none;
  //   }

  .swiper-pagination2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: rgba($black, 0.5);
    bottom: 0px;
    left: 0;
    width: auto;

    .swiper-pagination-current {
      color: $red;
    }
    .swiper-pagination-total {
    }
  }
}

// banners=====================================================
.banners {
  margin-top: 60px;

  @media (max-width: 650px) {
    margin-top: 50px;
  }

  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: $red;
    display: block;
    margin-bottom: 60px;
    transition: 0.2s;

    @media (max-width: 650px) {
      margin-bottom: 50px;
    }

    &:hover {
      color: $black;
    }
  }

  &__box {
    display: flex;
    gap: 20px;

    @media (max-width: 1200px) {
      flex-direction: column;
    }
  }

  &__item {
    padding: 35px 29px;
    transition: 0.5s;

    @media (max-width: 650px) {
      padding: 15px;
    }
  }

  &__item--1 {
    background-color: $black;

    &:hover {
      background-color: #16173e;
    }
    .banners__item-btn:hover {
      background-color: $white;
      border: 2px solid $white;
      color: $red;
    }
  }

  &__item--2 {
    background-color: $red;

    &:hover {
      background-color: #db2c45;
    }

    .banners__item-btn {
      color: $red;
      background-color: $white;
      border: 2px solid $white;
    }

    .banners__item-btn:hover {
      background-color: $black;
      border: 2px solid $black;
      color: $white;
    }
  }

  &__item-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
    text-transform: uppercase;
    color: $white;
    margin-bottom: 15px;

    @media (max-width: 650px) {
      font-size: 24px;
      margin-bottom: 5px;
    }

    @media (max-width: 350px) {
      font-size: 17px;
    }
  }

  &__item-subtitle {
    font-weight: 400;
    font-size: 48px;
    line-height: 150%;
    text-transform: uppercase;
    color: $white;
    margin-bottom: 15px;

    @media (max-width: 650px) {
      font-size: 28px;
      margin-bottom: 5px;
    }
    @media (max-width: 350px) {
      font-size: 22px;
    }
  }

  &__item-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: $white;
    margin-bottom: 20px;

    @media (max-width: 650px) {
      font-size: 14px;
    }
    @media (max-width: 350px) {
      font-size: 12px;
    }
  }

  &__item-btn {
    padding: 8px 30px;

    @media (max-width: 350px) {
      font-size: 14px;
    }
  }
}

// modal======================================================
.modal {
  --transition: 0.2s;

  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  padding: 30px 0;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: visibility var(--transition), opacity var(--transition);
}

.modal.open {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  overflow-y: auto;
  z-index: 100;
}

.modal__body {
  max-width: 500px;
  background-color: #fff;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 4px;
  margin: auto;
  transition: var(--transition);
  transform: scale(0);
  pointer-events: none;
}

.modal__body.open {
  transform: scale(1);
  pointer-events: all;
}

.modal__btn {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.678);
  line-height: 1;
  border: none;
  background: transparent;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.modal__btn:hover {
  color: #000;
}

.modal__content {
  padding: 30px;
}

// popup=========================================
.popup {
  .modal__body {
    max-width: 480px;
  }
  .modal__btn {
    top: 20px;
    right: 20px;

    rect {
      transition: 0.2s;
    }

    &:hover {
      rect {
        fill: $black;
      }
    }
  }
  .modal__content {
    background: url(../img/popup/bg-top.png) no-repeat top 59px right 19px,
      url(../img/popup/bg-bottom.png) no-repeat right bottom,
      linear-gradient(180deg, #ffffff 0%, #efefef 100%);
    border: 2px solid #ffffff;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.25);

    padding: 35px 99px 55px 37px;

    @media (max-width: 450px) {
      padding: 50px 15px 15px;
    }
  }

  &__logo {
    margin-bottom: 58px;

    @media (max-width: 450px) {
      background-color: #ffffffbf;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: $black;
    margin-bottom: 31px;
  }
}

// useful======================================================
.useful {
  background: $white;
  margin-top: 90px;
  margin-bottom: 148px;

  @media (max-width: 700px) {
    margin-bottom: 50px;
  }

  @media (max-width: 650px) {
    margin-top: 50px;
  }

  &__title {
    margin-bottom: 69px;

    @media (max-width: 650px) {
      margin-bottom: 50px;
    }
  }

  &__more {
    margin-top: 57px;
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: $red;
    transition: 0.2s;

    @media (max-width: 650px) {
      margin-top: 50px;
    }

    &:hover {
      color: $black;
    }
  }
}
